body{
				background: linear-gradient(rgba(47,23,15,.65),rgba(47,23,15,.65)),url(images/bg.jpg) no-repeat 0 0;
                background-attachment: fixed;
                background-position: center;
                background-size: cover;
                margin:0 auto;
                padding:0;
                box-sizing: border-box;
                width: 100%;
			}
			a{
				text-decoration: none;
			}
			.header{
				width: 100%;
				margin-top: 5rem;
                margin-bottom: 2rem;
                box-sizing: border-box;
			}
			.title1{
				text-align: center;
                font-size: 2rem;
                font-weight:800;
                color: #e6a756!important;
                margin-bottom: 1rem!important;
                text-transform: uppercase;
                line-height: 3.3rem;
                font-family: Raleway;
			}
			.title2{
				text-align: center;
				font-size: 5.2rem;
                font-weight:100;
                line-height: 4rem;
                font-family: Raleway;
                color: #fff!important;
			}
			.click {
				width: 100%;
				text-align: center;
				margin: 0 auto;
			}
			.nav{
				width: 100%;
				height: 100px;
				background-color: rgba(47,23,15,.9);
				margin-top:100px;
				display: flex;
				align-items: center;
			}
			.container{
				width: 100%;
			}
			.container ul{
				width: 100%;
				margin: auto;
				list-style-type: none;
			    display: flex;
				justify-content: center;
				align-items: center;
			    padding-left: 0;
                margin-bottom: 0;
                box-sizing: border-box;
			}
			.container li{
				padding-right: 2rem!important;
				text-align: center;
			}
			.container a{
				text-decoration: none;
				color: #FFFFFF;
				font-weight: 800;
			    font-size: 1.5rem;
			    font-family: Raleway;
			    line-height: 1rem;
			}
            .container a:hover{
	            color:gray;
            }
			.active{
			    color: #e6a756;
			    font-weight: 800;
			    font-size: 1.5rem;
			    font-family: Raleway;
			    line-height: 1rem;
			}
	        .clearfix::after {
                display: block;
                clear: both;
                content: "";
		}
			.product-intro{
	            box-sizing: border-box;
	            height: 570px;
	            margin: 0 auto;
	            margin-bottom: 80px;
	            margin-top: 80px;
	            display: flex;
				justify-content: center;
            }

            .product-intro .main{
	            width: 100%;
	            margin: 0 auto;
	            position: relative;
            }
            .product-intro .main .main-right{
	            display: block;
	            max-height: 100%;
	            max-width:100%;
	            float: right;
	            position: absolute;
	            right: 13%;
	            top: 0;
	            border-radius: 7px;
	            animation: changeBiger 4s;
                animation-delay: 4s;
            }
            @keyframes changeBiger {
                0% {
                    width:0;
                    height:0;
                }
                10%{
                	max-height: 10%;
	                max-width:10%;
                }
                20%{
                	max-height:20%;
	                max-width:20%;
                }
                30%{
                	max-height:30%;
	                max-width:30%;
                }
                40%{
                	max-height:40%;
	                max-width:40%;
                }
                50%{
                	max-height: 50%;
	                max-width:50%;
                }
                60%{
                	max-height:60%;
	                max-width:60%;
                }
                70%{
                	max-height: 70%;
	                max-width:70%;
                }
                80%{
                	max-height:80%;
	                max-width:80%;
                }
                90%{
                	max-height:90%;
	                max-width:90%;
                }
                100% {
                    max-height: 100%;
	                max-width:100%;
                }
            }
            .product-intro .main .main-left{
            	float: left;
	            width: 500px;
	            height:330px;
	            background-color: rgba(255, 255, 255, 0.85);
	            position: absolute;
	            left:23%;
	            box-sizing: border-box;
	            border-radius: 5px;
	            top: 10%;
            }

             .main-left .up{
            	transition: all 2s;
	            text-align: center;
	            margin: 0;
	            padding: 0;
	            margin-top: 45px;
            }
            .main-left .up:hover{
            	transform: rotate(360deg);
            }
            .main-left .down{
            	transition: all 2s;
	            text-align: center;
	            font-size: 55px;
	            font-weight: 100;
	            margin: 0;
	            padding: 0;
            }
            .main-left .down:hover{
            	transform: rotateY(360deg);
            }
             .main-left p{
	            width: 403px;
	            text-align: center;
	            font-size: 16px;
	            font-weight: 100;
	            margin: 0;
	            padding: 0;
	            margin: 0 auto;
	            margin-top: 24px;
	            line-height: 1.75;
            }
             .product-intro .main .main-left .btn{
	            position: absolute;
	            width: 156px;
	            height: 69px;
	            background-color: #e6a756;
	            border-radius: 4px;
	            transition: all 0.3s;
	            left: 171px;
	            margin-top: 14px;
            }
            .product-intro .main .main-left .btn:hover{
	            background-color: rgb(223, 144, 42);
            }
            .product-intro .main .main-left  .btn a{
	            color: white;
	            text-decoration: none;
	            text-align: center;
	            display: block;
	            font-size: 13px;
	            margin-top: 26px;
	            font-weight: 700;
            }
	        .bottom{
	            width: 100%;
	            height: 445px;
	            background-color: rgba(230, 167, 86, 0.9);
	            margin-bottom: 70px;
	            overflow: hidden;
	            position: relative;
	
            }

           .bottom .wrap {
	            position: absolute;
	            left: 50%;
	            top: 50%;
	            width: 822px;
	            height: 284px;
	            border: 4px solid #f8f0e5;
	            margin-left: -415px;
	            margin-top: -146px;
	            border-radius: 5px;
	            overflow: hidden;
	        }
            .bottom .wrap .test{
	            position: absolute;
	            width: 812px;
	            height: 274px;
	            background-color: #f8efe5;
	            overflow: hidden;
	            left: 50%;
	            top: 50%;
	            margin-left: -406px;
	            margin-top: -137px;
	            border-radius: 5px;
            }
            .bottom .wrap .test h4{
            	transition: all 2s;
	            text-align: center;
	            margin: 0;
	            padding: 0;
            }
           .bottom .wrap .test h4:hover{
            	transform: rotateY(360deg);
            }
            .bottom .wrap .test h4.upper{
            	transition: all 2s;
	            text-align: center;
	            margin: 0;
	            padding: 0;
	            margin-top: 48px;
	            box-sizing: border-box;
            }
           .bottom .wrap .test h4.upper:hover{
            	transform: rotateY(360deg);
            }
            .bottom .wrap .test h1{
	            text-align: center;
	            margin: 0;
	            padding: 0;
	            font-size: 48px;
	            font-weight: 100;
	            box-sizing: border-box;
	            }
            .bottom .wrap .test p{
	            width: 713px;
	            margin: 0 auto;
	            text-align: center;
	            margin-top: 21px;
	            box-sizing: border-box;
	            line-height: 23px;
            }
		    .footer{
				width: 100%;
				padding-bottom: 2rem!important;
				padding-top: 2rem!important;
				margin: 0 auto;
				background-color: rgba(47,23,15,.9);
			    color:white;
				font-size: 18px;
				text-align: center;
				font-family: Raleway;
				}
            .title {
                margin-bottom:1rem;
            }
            .header {
                position: relative;
                height:80vh;
                max-width:30em;
                text-align:center;
            }
            .header {
                box-sizing:border-box;
                max-width:70%;
                margin:0 auto;
                padding:1.5em;
            }
            .title {
                position:relative;
                padding-top:30vh;
            }
            .title .title1 {
                position:relative;
                text-align:center;
                margin:0;
                line-height: .625;
                z-index:2;
                transform-origin: bottom center;
                }
            .dish {
                 color:#e89c2b;
                position:absolute;
                width:1em;
                height:1em;
                margin-top:-.75em;
                margin-left:-.5em;
                font-size:2rem;
                top:0;
                transform:translateY(-3em);
                transition-duration:.75s;
                transition-timing-function:ease-in;
                transition-property:transform;
                z-index:1;
            }
            .dish.drop {
                transform:translateY(30vh);
            }
            .nommer {
                position:absolute;
                bottom:2em;
                margin-left:-1em;
                color:rgba(0,0,0,.5);
                font-size:1.5rem;
                transform-origin:bottom center;
            }
            .particletext.sunbeams > .particle {
                position: absolute;
                background-color: rgba(253, 216, 53, 0.5);
                animation: sunbeams 5s linear infinite;
            }
            @keyframes sunbeams {
  0% {
    -webkit-transform: translateY(40%) rotate(0deg);
            transform: translateY(40%) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-40%) rotate(180deg);
            transform: translateY(-40%) rotate(180deg);
  }
  100% {
    -webkit-transform: translateY(40%) rotate(360deg);
            transform: translateY(40%) rotate(360deg);
  }
  0%,14%,17%,43%,53%,71%,80%,94%,100% {
    opacity: 0;
  }
  6%,15%,24%,28%,48%,55%,78%,82%,99% {
    opacity: 1;
  }
}