body{
				background: linear-gradient(rgba(47,23,15,.65),rgba(47,23,15,.65)),url(images/bg.jpg) no-repeat 0 0;
                background-attachment: fixed;
                background-position: center;
                background-size: cover;
                width: 100%;
                margin: 0 ;
                padding:0;
			}
			
			.header{
				width: 1200px;
				margin: 0 auto;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				margin-top: 5rem;
                margin-bottom: 6rem;
			}
			.title{
                text-align:center;
			}
			.title1{
                font-size: 2rem;
                font-weight:800;
                color: #e6a756!important;
                margin-bottom: 1rem!important;
                text-transform: uppercase;
                line-height: 3.3rem;
                font-family: Raleway;
			}
			.header {
                
                height:80vh;
                
                text-align:center;
            }
            
			.title2{
				font-size: 5.2rem;
                font-weight:100;
                line-height: 4rem;
                font-family: Raleway;
                color: #fff!important;
			}
			.click {
				width: 1200px;
				text-align: center;
				margin: 0 auto;
			}
			.nav{
				width: 1200px;
				height: 100px;
				background-color: rgba(47,23,15,.9);
				box-sizing: border-box;
				margin: 100px auto;
				display: flex;
				justify-content: center;
				align-items:center;
			}
			.container{
				height:70px;
			}
			.container ul{
				display: flex;
				justify-content: center;
				align-items:center;
				list-style-type: none;
			    padding-left: 0;
                margin-bottom: 0;
                box-sizing: border-box;
			}
			.container li{
				padding-right: 2rem!important;
				text-align: center !important;
				margin-top: 10px;
			}
			.container a{
				text-decoration: none;
				color: #FFFFFF;
				font-weight: 800;
			    font-size: 27px;
			    font-family: Raleway;
			    line-height: 1rem;
			}
            .container a:hover{
	            color:gray;
            }
			.active{
			    color: #e6a756;
			    font-weight: 800;
			    font-size: 28px;
			    font-family: Raleway;
			    line-height: 1rem;
			}
	          .clearfix::after {
                 display: block;
                clear: both;
                content: "";
			}
			 
            .dish {
                 color:#e89c2b;
                position:absolute;
                width:1em;
                height:1em;
                margin-top:-.75em;
                margin-left:-.5em;
                font-size:2rem;
                top:0;
                transform:translateY(-3em);
                transition-duration:.75s;
                transition-timing-function:ease-in;
                transition-property:transform;
                z-index:1;
            }
            .dish.drop {
                transform:translateY(30vh);
            }
            .nommer {
                position:absolute;
                bottom:2em;
                margin-left:-1em;
                color:rgba(0,0,0,.5);
                font-size:1.5rem;
                transform-origin:bottom center;
            }
			.main{
				margin: 30px auto;
				width: 1200px;
				height: 1000px;
                display: flex;
                flex-direction: column;
                align-items: center;
                box-sizing: border-box;
			}
			.main-left{
				width: 470px;
				height: 410px;
				background-color: rgba(255,255,255,.85);
				text-align: center;
				border-radius:10px;	
			}
			.main-left h2{
				margin-bottom: 0.9rem!important;
				font-family: Raleway;
			    font-size: 2rem;
				color:#333;
			    font-weight: 500;
                line-height: 1.5;
			}
			.up{
				font-size: 1rem;
                font-weight: 800;
				color:#333;
			}
			.down{
				font-size: 3rem;
                font-weight: 100;
				color:#333;
			}
			.main-left p{
				line-height: 1.75;
				margin-top: 0 auto;
				padding: 6%;
				color:#333;
			}
			.btn{
				width:160px;
				height: 60px;
				margin: 0 auto;
                background-color: #e6a756;
                text-align: center;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                }
            .btn-in{
                text-decoration: none;
                font-weight: 600;
                font-size: 18px;
                padding: 20px;
                white-space: nowrap;
                vertical-align: middle;
                color:white;
			}
			.main-right {
				width: 900px;
			    height: 600px;
			    margin-top: 50px;
			    margin-bottom:150px;
			}
			.main-right img{
				width: 900px;
				height: 500px;
				}
	        .bottom{
                 width:1200px;
		         height: 400px;
		        margin: 5rem auto;
	            padding-top: 5rem;
                padding-bottom: 5rem;
                background-color: rgba(230,167,86,.9);
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;
			}
	         .wrap{
		        width: 600px;
		        height: 300px;
				margin: 50px auto;
				position: relative;
				border: 5px white solid;
			}
			.test h2{
				margin-top: -10px;
				}
		      .test{
		      	width:580px;
		      	height: 280px;
		      	position:absolute;
		      	left:50%;
		      	top:50%;
		      	margin-left: -290px !important;
		      	margin-top: -140px !important;
                padding: 3rem;
                margin: .5rem;
                background-color: rgba(255,255,255,.85);
                text-align: center!important;
                box-sizing: border-box;
                border-radius: .35rem!important;
				font-family: Raleway;
				color:#333;
                
			}
		    .footer{
				width: 1200px;
				padding-bottom: 2rem!important;
				padding-top: 2rem!important;
				margin: 0 auto;
				background-color: rgba(47,23,15,.9);
			    color:white;
				font-size: 18px;
				text-align: center;
				font-family: Raleway;
			}